version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
      timezone: UTC
    labels:
      - dependencies
    commit-message:
      prefix: deps
    open-pull-requests-limit: 10
    groups:
      python-dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "04:30"
      timezone: UTC
    labels:
      - dependencies
    commit-message:
      prefix: deps(ci)
    open-pull-requests-limit: 5
    groups:
      github-actions:
        patterns:
          - "*"
